<div class="container h-5/6 flex items-start">
  <main class="form-signin max-w-sm rounded overflow-hidden shadow-lg">
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <h3 class="mb-3 text-lg font-bold tracking-tight text-gray-900">Login</h3>
      <app-input-form
        type="text"
        id="floatingInput"
        name="username"
        label="Username"
        formControlName="username"
      ></app-input-form>
      <app-input-form
        type="text"
        id="floatingPassword"
        name="password"
        label="Password"
        formControlName="password"
      ></app-input-form>
      <button
        class="
          bg-transparent
          hover:bg-blue-500
          text-blue-700
          font-semibold
          hover:text-white
          py-2
          px-4
          border border-blue-500
          hover:border-transparent
          rounded
        "
        type="submit"
      >
        Sign in
      </button>
    </form>
  </main>
</div>
