<ngx-loading-bar [includeSpinner]="false" color="red"></ngx-loading-bar>

<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [fixedInViewport]="true">
    <mat-nav-list>
      <ng-container *ngIf="menus">
        <a
          *ngFor="let menu of menus"
          mat-list-item
          (click)="sidenav.close()"
          [routerLink]="[menu.route]"
          routerLinkActive="list-item-active"
        >
          <mat-icon matListIcon> {{ menu.icon }} </mat-icon>
          {{ menu.title }}
        </a>
      </ng-container>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content role="main">
    <app-navigation (toggleSidenav)="sidenav.toggle()"></app-navigation>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
